<p>Hello,</p>

<p>You have received a message from the Contact Us Form on {{ site_title }} below:</p>
<p>
    <strong>Name:</strong> {{ name }} <br>
    <strong>Email:</strong> {{ emailAddress }} <br>
    <strong>Phone number:</strong> {{ phoneNumber }} <br>
    <strong>Message:</strong> {{ message }}
</p>
<p>Regards,</p>
<h3>{{ site_title }}</h3>