{% extends '@WbcStatic/Default/base.html.twig' %}
{% block header %}
    <h1 class="text-center">{{ site_domain|capitalize }} Careers in Dubai</h1>

    {% block seoHead %}
        {% block title %}<title>Check out our careers and apply to join our family - {{ site_domain }}</title>{% endblock %}
        {% block meta %}
            <meta name="description"
                  content="Check out our careers and apply to join one of the fastest growing automotive startups in the United Arab Emirates. We are looking for enthusiastic people to join immediately.">
            <meta name="keywords"
                  content="{{ site_domain }} careers, automotive careers, careers, {{ site_domain }} vacancies, automotive vacancies in dubai, automotive jobs in dubai, {{ site_domain }} jobs">
        {% endblock %}
    {% endblock %}
{% endblock %}
    {% block body %}
        {{ parent() }}
        <article id="careers-list" class="text-center">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="padding-bottom: 25px;">
                            {% if roles|length %}
                                {% include '@WbcCareers/partials/role-list.html.twig' with {roles: roles} %}
                            {% else %}
                                {% include '@WbcCareers/partials/no-role-list.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </article>

        {% include 'WbcStaticBundle:partials:inline-valuation-form.html.twig' %}
        {% include '@WbcStatic/partials/our-services.html.twig' %}

    {% endblock %}