{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block form %}
    {#{{ block('parentForm') }}#}

    <form action="{{ path('admin_wbc_user_user_changePassword', {'id': object.id }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
    </form>

{% endblock %}