<!DOCTYPE html>
<html lang="en" ng-app="webuycarsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="V7Phnt4vuHZ-Mp_XKLG49L7uW1yB6XBUuUC7EkVOEEs" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon.ico/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon.ico/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon.ico/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon.ico/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon.ico/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon.ico/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon.ico/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon.ico/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon.ico/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicon.ico/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon.ico/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon.ico/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon.ico/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/favicon.ico/manifest.json') }}">

    {% block seoHead %}
        {% block title %}<title>Sell Any Car For Cash | Free Car Valuation | {{ site_title }}</title>{% endblock %}
        {% block meta %}
            <meta name="description" content="Sell your car at the highest price in less than 30 minutes with our convenient
    and safe process at WeBuyCarsDxb.com. Book your appointment and visit us today.">
        {% endblock %}
    {% endblock %}
    <base href="{{ path('wbc_static_default_index') }}">
    {% block stylesheets %}
        {% stylesheets filter='scssphp' output='css/app.css'
        'assets/scss/app.scss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-100717418-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                {#Desktop Menu#}
                <div class="col-md-12 hidden-xs hidden-sm">
                    <div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('wbc_static_default_index') }}">
                                <img class="img-responsive" onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'" alt="{{ site_title }}" src="{{ asset('images/webuycarsdxb-logo.svg') }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse col-md-12">
                            <ul class="nav navbar-nav list-unstyled">
                                {% for key, value in site_menu %}
                                    <li>
                                        <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="navbar-steps-container" class="col-md-6 col-xs-12">
                        <h2>We buy any car in 30 min!</h2>
                    </div>
                    <div id="navbar-phone-container" class="col-md-2 col-md-pull-0 col-xs-pull-9 text-right">
                        <a href="tel: {{ site_phone }}">
                            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                            &nbsp;<span>{{ site_phone }}</span>
                        </a>
                    </div>
                    <div class="col-md-1 hidden-xs hidden-sm">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse col-md-12">
                            <ul class="nav navbar-nav list-unstyled">
                                {% for key, value in site_menu %}
                                    <li>
                                        <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {#Mobile Menu#}
                <div class="col-md-12 hidden-md hidden-lg">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('wbc_static_default_index') }}">
                                    <img class="img-responsive" alt="{{ site_title }}"
                                         onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'"
                                         src="{{ asset('images/webuycarsdxb-logo.svg') }}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="second-row-container" class="row">
                        <div id="navbar-phone-container" class="col-xs-6 text-left">
                            <a href="tel: {{ site_phone }}">
                                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                                &nbsp;<span>{{ site_phone }}</span>
                            </a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse col-md-12">
                                <ul class="nav navbar-nav list-unstyled">
                                    {% for key, value in site_menu %}
                                        <li>
                                            <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
{% endblock %}
{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, flash_messages in app.session.flashBag.all %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>

                        {% for flash_message in flash_messages %}
                            <div class="flash-{{ type }}">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block loader %}<wbc-loading visibility="hidden"></wbc-loading>{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div id="footer-menu" class="col-md-6">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-unstyled">
                                {% for key, value in site_menu %}
                                    <li><a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="footer-contact" class="col-md-6 col-xs-12 text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <div class="thumbnail">
                                <img class="img-responsive" onerror="this.src='{{ asset('images/webuycarsdxb-logo.png') }}'" src="{{ asset('images/webuycarsdxb-logo.svg') }}" alt="{{ site_title }}">

                                <div class="caption">
                                    <h2 class="text-left">Headquarters</h2>

                                    <p class="text-left">
                                        {{ company_name }}<br>
                                        {{ company_office_number }},&nbsp;{{ company_office_building }},&nbsp;{{ company_office_street }}<br>
                                        PO Box: {{ company_po_box }} Dubai<br>
                                        Tel: {{ company_office_phone }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-strip" class="container-fluid bg-grey">
            <div class="row">
                <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-2">
                    <ul class="list-inline list-unstyled">
                        {% if site_facebook is defined and site_facebook is not null %}
                            <li><a target="_blank" href="{{ site_facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_twitter is defined and site_twitter is not null %}
                            <li><a target="_blank" href="{{ site_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_instagram is defined and site_instagram is not null %}
                            <li><a target="_blank" href="{{ site_instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_linkedin is defined and site_linkedin is not null %}
                            <li><a target="_blank" href="{{ site_linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        {% endif %}

                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h4 class="text-right"><i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date("Y") }} {{ company_name }}</h4>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</body>

{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
    <![endif]-->
    {% javascripts filter='?jsqueeze' output='js/app.js'
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js'
    'assets/vendor/angular/angular.js'
    'assets/vendor/angular-resource/angular-resource.js'
    'assets/vendor/angular-toArrayFilter/toArrayFilter.js'
    'assets/vendor/angular-block-ui/dist/angular-block-ui.js'
    'assets/vendor/ngmap/build/scripts/ng-map.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js'
    'assets/js/jquery/app.js'
    'assets/js/angular/app.js'
    'assets/js/angular/directives/wbcLoading.directive.js'
    'assets/js/angular/valuation/vehicleModel.service.js'
    'assets/js/angular/valuation/branchTiming.service.js'
    'assets/js/angular/valuation/appointment.service.js'
    'assets/js/angular/static/appointmentsMade.component.js'
    'assets/js/angular/valuation/valuationStepOne.component.js'
    'assets/js/angular/valuation/valuationStepTwo.controller.js'
    'assets/js/angular/valuation/valuationStepThree.controller.js'
    'assets/js/angular/valuation/valuationStepFour.controller.js'
    'assets/js/angular/static/contactUs.controller.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</html>