<!DOCTYPE html>
<html lang="en" ng-app="webuycarsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block seoHead %}
        {% block title %}<title>Sell Any Car For Cash | Free Car Valuation | {{ site_title }}</title>{% endblock %}
        {% block meta %}
            <meta name="description" content="Sell your car at the highest price in less than 30 minutes with our convenient
    and safe process at WeBuyCarsDxb.com. Book your appointment and visit us today.">
        {% endblock %}
    {% endblock %}
    <base href="{{ path('wbc_static_default_index') }}">
    {% block stylesheets %}
        {% stylesheets filter='scssphp' output='css/app.css'
        'assets/scss/app.scss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('wbc_static_default_index') }}">
                                    <img alt="{{ site_title }}" src="{{ asset('images/logo.svg') }}">
                                </a>
                            </div>
                        </div>
                        <div id="navbar-steps-container" class="col-md-7">
                            <div class="col-md-4">
                                <div class="steps one">
                                    <div class="number inline-block">1</div>
                                    <div class="description inline-block">Free Online Valuation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="steps two">
                                    <div class="number inline-block">2</div>
                                    <div class="description inline-block">Book Appointment</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="steps three">
                                    <div class="number inline-block">3</div>
                                    <div class="description inline-block">Get Instant CASH!</div>
                                </div>
                            </div>
                        </div>
                        <div id="navbar-phone-container" class="col-md-2 text-right">
                            <a href="tel: {{ site_phone }}">
                                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                                &nbsp;<span>{{ site_phone }}</span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse col-md-12">
                                <ul class="nav navbar-nav list-unstyled">
                                    {% for key, value in site_menu %}
                                        <li>
                                            <a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block loader %}<wbc-loading visibility="hidden"></wbc-loading>{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div id="footer-menu" class="col-md-6">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="list-unstyled">
                            {% for key, value in site_menu %}
                                <li><a href="/{{ attribute(site_menu, key).slug }}">{{ attribute(site_menu, key).title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="footer-contact" class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="thumbnail">
                                <img src="{{ asset('images/logo.svg') }}" alt="{{ site_title }}">

                                <div class="caption">
                                    <h2 class="text-left">Headquarters</h2>

                                    <p class="text-left">
                                        {{ company_name }}<br>
                                        Tel: {{ company_office_phone }}<br>
                                        PO Box: {{ company_po_box }} Dubai
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-strip" class="container-fluid bg-grey">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline list-unstyled">
                        {% if site_facebook is defined %}
                            <li><a target="_blank" href="{{ site_facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_twitter is defined %}
                            <li><a target="_blank" href="{{ site_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_instagram is defined %}
                            <li><a target="_blank" href="{{ site_instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site_linkedin is defined %}
                            <li><a target="_blank" href="{{ site_linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        {% endif %}

                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="text-right"><i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date("Y") }} {{ company_name }}</h4>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</body>

{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
    <![endif]-->
    {% javascripts filter='?jsqueeze' output='js/app.js'
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js'
    'assets/vendor/angular/angular.js'
    'assets/vendor/angular-resource/angular-resource.js'
    'assets/vendor/angular-toArrayFilter/toArrayFilter.js'
    'assets/vendor/angular-block-ui/dist/angular-block-ui.js'
    'assets/vendor/ngmap/build/scripts/ng-map.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js'
    'assets/js/jquery/app.js'
    'assets/js/angular/app.js'
    'assets/js/angular/directives/wbcLoading.directive.js'
    'assets/js/angular/valuation/vehicleModel.service.js'
    'assets/js/angular/valuation/branchTiming.service.js'
    'assets/js/angular/valuation/appointment.service.js'
    'assets/js/angular/valuation/valuationStepOne.component.js'
    'assets/js/angular/valuation/valuationStepTwo.controller.js'
    'assets/js/angular/valuation/valuationStepThree.controller.js'
    'assets/js/angular/valuation/valuationStepFour.controller.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</html>