{% extends '@WbcStatic/Default/base.html.twig' %}

{% block header %}
    <header>
        <div class="jumbotron container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">The Easiest Way to Sell a Car in Dubai</h1>
                </div>
            </div>
            {% include '@WbcStatic/partials/header-form.html.twig' %}
        </div>
    </header>
{% endblock %}

{% block body %}
    {{ parent() }}

    <section class="section-text bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Why Should I Choose WeBuyCarsDxb.com to Sell My Car</h2>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-bold">Free Car Valuation</p>
                                    <p>
                                        <a href="{{ path('wbc_static_default_article', {'slug': 'car-valuation-dubai'}) }}">Valuate your car online for Free</a>! Get an Initial quote in under 30 seconds!
                                        And visit us to sell your car.</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-bold">Instant Cash</p>
                                    <p>
                                        <a href="{{ path('wbc_static_default_article', {'slug': 'cash-your-car-uae'}) }}">Get cash on the spot for your car</a>, no matter the make, model, year, or condition!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-bold">Fast Sale</p>
                                    <p>We buy <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_model_car_brands">any car</a> in less than 30 minutes. You walk away with cash, hassle-free</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-bold">Finance</p>
                                    <p>We help you settle car loans so you're not out of pocket</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-bold">Reliable</p>
                                    <p>The preferred <a href="{{ path('wbc_static_default_article', {'slug': 'car-buyers-dubai'}) }}">car buyers in Dubai</a> by thousands of satisfied customers</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-bold">Guaranteed Purchase</p>
                                    <p>We buy cars regardless of make, model, year, or condition</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Sell Car in Dubai at the Price That’s Right</h2>
                    <p>When it comes to <a href="{{ path('wbc_static_default_article', {'slug': 'selling-car-dubai'}) }}">selling your car in Dubai</a>, you will be under a lot of pressure. A great number
                        of websites now allow you to sell your car online. However, it does not mean you can pick any of
                        them and start the selling process blindly. There could be hundreds of companies that buy and
                        sell cars in Dubai, but the biggest challenge for you is going to sell it at the right price. On
                        most occasions, they <a href="{{ path('wbc_static_default_article', {'slug': 'car-valuation-dubai'}) }}">price your car</a> so low that you prefer keeping it forever overselling it.
                        Here are some of the issues you will face when you want to sell your car in UAE.</p>
                    <h2>Common Issues When You Want to Sell Any Car in Dubai</h2>
                    <h3>They Aren’t Buying Your Particular Car</h3>
                    <p>When people sell a used car in Dubai, the biggest challenge is to find someone who buys the
                        particular brand of the car. Toyota, Honda, Hyundai, etc. are the most popular brands, but what
                        if your car does not belong to any of these makes? At We Buy Cars DXB we welcome you to come to
                        one of our branches no matter which car you have.</p>
                    <h3>They Don’t Price It Right</h3>
                    <p>You are going to face this issue more often than not. They talk at length about how they will
                        make it easy for you to sell car in Dubai but the disappointment is real when they price it. You
                        will not face such a scenario when you work with We Buy Cars DXB. In fact, one of the reasons
                        our customers keep returning to us is how fairly we price their cars.</p>
                    <h3>They Make Selling a Difficult Process</h3>
                    <p>So, many dealerships don’t even have their websites. If you go to them without an appointment,
                        they might not assist you at all. If you call them before you visit them, their professionals
                        might be busy doing other things and take time to serve you. With We Buy Cars DXB we have a
                        no-hassle online valuation process. Fill in the basic information about your car and yourself,
                        and receive a text on your phone about the appointment. In fact, we even call you at the
                        appointment day to confirm your meeting with us.</p>
                    <h3>They Don’t Buy Cars with Loans on Them</h3>
                    <p>One of the easiest ways for many car dealerships to refuse doing business with you is to tell you
                        that there are pending payments on your car and that they don’t buy cars until they have been
                        paid in full. That’s where We Buy Cars DXB goes the extra mile in customer experience. If you
                        still need to make some payments on your car, just come to our brand and say “I want to sell my
                        car” and we will be more than happy to serve you.</p>
                    <p>Start your <a href="{{ path('wbc_appointment_step_1') }}">car valuation</a> process on our website today or give us a call at <a href="tel:{{ site_phone }}">{{ site_phone }}</a> to ask any
                        questions that you might have.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{ path('wbc_appointment_step_1') }}"
                       class="btn btn-primary btn-lg">Get FREE Online Valuation</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="reviews" class="col-md-6">
                    <h2 class="text-center color-white">Join over 5000 happy customers</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="thumbnail">
                                                    <img class="img-circle" src="{{ asset('images/reviews/malcolm.jpg') }}"
                                                         alt="Malcolm Dunne">

                                                    <div class="caption">
                                                        <p class="color-white">I sold my car here and it was a quick and
                                                            tension free process. I did not have to go to RTA. The
                                                            process was transparent. They looked after transferring the
                                                            car out of my name and paid me in Cash.
                                                        </p>

                                                        <h3 class="text-center color-white">Malcolm Dunne</h3>
                                                        <div class="text-center color-white">
                                                            {% include '@WbcStatic/partials/rating.html.twig' with {'rate': randomRating(), 'description': 'I sold my car here and it was a quick and
                                                            tension free process. I did not have to go to RTA. The
                                                            process was transparent. They looked after transferring the
                                                            car out of my name and paid me in Cash.',
                                                            'title': 'Malcolm Dunne',
                                                            'showSchema': 0} %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="thumbnail">
                                                    <img class="img-circle" src="{{ asset('images/reviews/lisa.jpg') }}"
                                                         alt="Lisa Padurska">

                                                    <div class="caption">
                                                        <p class="color-white">WeBuyCarsDxb.com gave me a good price for
                                                            my car, which helped me cover my loan. The deal was done in
                                                            30 minutes and their representative came with me to the bank
                                                            to pay off my loan.
                                                        </p>

                                                        <h3 class="text-center color-white">Lisa Padurska</h3>

                                                        <div class="text-center color-white">
                                                            {% include '@WbcStatic/partials/rating.html.twig' with {
                                                            'rate': randomRating(),
                                                            'description': 'WeBuyCarsDxb.com gave me a good price for
                                                            my car, which helped me cover my loan. The deal was done in
                                                            30 minutes and their representative came with me to the bank
                                                            to pay off my loan.',
                                                            'title': 'Lisa Padurska',
                                                            'showSchema': 0} %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="thumbnail">
                                                    <img class="img-circle" src="{{ asset('images/reviews/atul.jpg') }}"
                                                         alt="Atul Gupta">

                                                    <div class="caption">
                                                        <p class="color-white">Minimal paperwork. Quick process and good
                                                            customer service. Best part is I didnt need to go to RTA and
                                                            waste my time. They handled everything and paid me cash on
                                                            the spot.
                                                        </p>

                                                        <h3 class="text-center color-white">Atul Gupta</h3>

                                                        <div class="text-center color-white">
                                                            {% include '@WbcStatic/partials/rating.html.twig' with {
                                                            'rate': randomRating(),
                                                            'description': 'Minimal paperwork. Quick process and good
                                                            customer service. Best part is I didnt need to go to RTA and
                                                            waste my time. They handled everything and paid me cash on
                                                            the spot.',
                                                            'title': 'Atul Gupta',
                                                            'showSchema': 0} %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="thumbnail">
                                                    <img class="img-circle" src="{{ asset('images/reviews/elham.jpg') }}"
                                                         alt="Elham Fakhoury">

                                                    <div class="caption">
                                                        <p class="color-white">My colleague recommended this place to me
                                                            and they lived up to my expectations. The whole process was
                                                            fast and easy. After dealing with the nightmare of
                                                            classifieds this was a breath of fresh air. I would
                                                            definitely recommend them to anyone 100%
                                                        </p>
                                                        <h3 class="text-center color-white">Elham Fakhoury</h3>

                                                        <div class="text-center color-white">
                                                            {% include '@WbcStatic/partials/rating.html.twig' with {
                                                            'rate': randomRating(),
                                                            'description': 'My colleague recommended this place to me
                                                            and they lived up to my expectations. The whole process was
                                                            fast and easy. After dealing with the nightmare of
                                                            classifieds this was a breath of fresh air. I would
                                                            definitely recommend them to anyone 100%',
                                                            'title': 'Elham Fakhoury',
                                                            'showSchema': 0} %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="prev">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="next">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="appointments-stats" class="col-md-6 appointments text-center">
                    <appointments-made initial-appointments-made="{{ initial_total_appointments }}"
                                       total-appointments="{{ totalAppointments() }}"
                                       appointments-index-url="'{{ path('wbc_appointment_step_1') }}'">
                    </appointments-made>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="mobile-friendly" class="col-md-6 col-md-offset-1">
                    <h2>Selling Your Car now made even easier with our Mobile Friendly website</h2>
                    <p>
                    <ul>
                        <li>Book your appointment while on the move</li>
                        <li>Easy navigation</li>
                        <li>Worldwide access to our website</li>
                    </ul>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <a href="{{ path('wbc_appointment_step_1') }}" class="btn btn-lg btn-primary">Get FREE Online Valuation on the Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
                    <div id="mobile-phone">
                        <img class="img-responsive" src="{{ asset('images/mobile-friendly.png') }}" srcset="{{ asset('images/mobile-friendly@2x.png') }}, {{ asset('images/mobile-friendly@3x.png') }}" alt="Mobile Friendly">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'WbcStaticBundle:partials:section-text.html.twig' with {
    'title': 'Join Over 5000 Happy Customers',
    'content': '
    <p>More than 5000 customers have selected us as a convenient way of selling a car in the UAE. Our Free car valuation process offers you a quick way to book an appointment with us and have your car inspected by our car experts.</p>
    <p>So come be a part of over <span class="text-bold">5000 happy faces</span> and sell your car to us hassle-free today.</p>
    ',
    'buttonText': 'JOIN THEM'} %}
    {% include 'WbcStaticBundle:partials:inline-valuation-form.html.twig' %}
    {% include 'WbcStaticBundle:partials:our-services.html.twig' %}

{% endblock %}