{% block header %}
    <header class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>We could not compute a value for your vehicle</h1>
                </div>
                <div class="col-md-12">
                    <h2>You may still book an appointment to have it manually valuated.</h2>
                </div>
                <div class="col-md-12">
                    <p>{{ valuation.vehicleYear }} - {{ valuation.vehicleMake.name }} {{ valuation.vehicleModel.name }} {% if valuation.vehicleModelType is not null %}{{ '- ' ~ valuation.vehicleModelType.trim }}{% endif %} - {{ valuation.vehicleColor|capitalize ~ ' Color' }} -  {{ valuation.vehicleBodyCondition|capitalize ~ ' Condition' }}</p>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}