<section class="section-text bg-grey">
    <div class="container">
        <div class="h1 text-center">Our Services</div>
        <div class="col-md-8 col-md-offset-2 text-center our-services-links">
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'selling-car-dubai'}) }}">Car Selling</a></div>
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'car-valuation-dubai'}) }}">Car Valuation</a></div>
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'cash-your-car-uae'}) }}">Car Your Car</a></div>
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'car-buyers-dubai'}) }}">Car Buyers</a></div>
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'car-buying-dubai'}) }}">Car Buying</a></div>
            <div class="col-md-3 text-left"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<a href="{{ url('wbc_static_default_article', {'slug': 'car-trade-dubai'}) }}">Car Trade</a></div>
        </div>
    </div>
</section>