<div id="craueconfig" class="row">
	<div class="col-md-12">
		<div class="box-body  container-fluid">
			<div class="sonata-ba-collapsed-fields">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header">
								<h4 class="box-title">
									Settings [BE CAREFUL WHEN MODIFYING THESE VALUES]
								</h4>
							</div>
							<div class="box-body">
								{{ form_start(form, {'attr': {'class': 'craue_config_settings_modify ng-non-bindable'}}) }}
								{{ form_errors(form) }}
								<div class="sonata-ba-collapsed-fields">
									{% for section in sections | craue_sortSections %}
										{% if section is not empty %}
											<fieldset>
											<legend>{{ section | trans({}, 'CraueConfigBundle') }}</legend>
										{% endif %}

										{% for setting in form.settings if setting.vars.value.section == section %}
											{{ form_row(setting.value) }}
										{% endfor %}

										{% if section is not empty %}
											</fieldset>
										{% endif %}
									{% endfor %}
								</div>

								{{ form_rest(form) }}

								<div id="craueconfig-buttons" class="sonata-ba-form-actions well well-small form-actions" style="width: 100%;">
									<button type="submit" class="btn btn-success text-capitalize">
										<i class="fa fa-save" aria-hidden="true"></i>
										{{ 'modify_settings' | trans({}, 'CraueConfigBundle') }}
									</button>
								</div>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
