{% extends '@WbcStatic/Default/base.html.twig' %}
{% block title %}<title>Get Your Free online Car Valuation | {{ site_title }}</title>{% endblock %}
{% block meta %}
    <meta name="description" content="Free car valuation on WeBuyCarsDxb.com. Know your used car value in few seconds and book your appointment now. Purchase guaranteed.">
{% endblock %}

{% block body %}

    {{ parent() }}

    {% if valuation.priceOnline > 0 %}
        {% include 'WbcStaticBundle:partials:valuation.html.twig' %}
    {% else %}
        {% include 'WbcStaticBundle:partials:no-valuation.html.twig' %}
    {% endif %}

    {% if form is defined and form is not null %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Errors:</span>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <section ng-controller="ValuationStepThreeController as ctrl"
             ng-init="ctrl.branches={{ getBranches()|serialize }}; ctrl.valuationId = '{{ valuation.id }}'">
        <div class="container">
            <div class="row">
                <div id="book-appointment-form" class="col-md-6 bg-grey">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="p-somatic color-dark">Book an Appointment</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <ng-cloak>
                                <form name="valuationAppointmentForm"
                                      method="post"
                                      class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-5">Pick a Branch</label>

                                        <div class="col-md-7">
                                            <select ng-model="ctrl.selectedBranch"
                                                    ng-class="{'form-control-invalid': valuationAppointmentForm.$submitted && valuationAppointmentForm.selectedBranch.$invalid }"
                                                    class="form-control"
                                                    required
                                                    name="selectedBranch"
                                                    ng-options="branch.slug as branch.name for branch in ctrl.branches">
                                                <option value="">Choose a Branch</option>
                                            </select>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationAppointmentForm.$submitted || valuationAppointmentForm.selectedBranch.$valid }">
                                                Select a Branch</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Pick a Date</label>
                                        <div class="col-md-7">
                                            <div uib-datepicker
                                                 class="angular-ui-datepicker"
                                                 ng-model="ctrl.appointmentDate"
                                                 name="appointmentDate"
                                                 required
                                                 ng-class="{'form-control-invalid': valuationAppointmentForm.$submitted && valuationAppointmentForm.appointmentDate.$invalid }"
                                                 datepicker-options="options"></div>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationAppointmentForm.$submitted || valuationAppointmentForm.appointmentDate.$valid }">
                                                Select an Appointment Date</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Pick a Timing</label>
                                        <div class="col-md-7">
                                            <select ng-model="ctrl.selectedBranchTiming" class="form-control"
                                                    ng-options="branchTiming.id as branchTiming.shortName for branchTiming in ctrl.branchTimings"
                                                    required
                                                    name="selectedBranchTiming"
                                                    ng-class="{'form-control-invalid': valuationAppointmentForm.$submitted && valuationAppointmentForm.selectedBranchTiming.$invalid, 'disabled': !ctrl.isTimingSlotsAvailable }">
                                                <option value="">Choose a Branch Timing</option>
                                            </select>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationAppointmentForm.$submitted || valuationAppointmentForm.selectedBranchTiming.$valid }">
                                                Select a Timing</p>
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': ctrl.isTimingSlotsAvailable }">
                                                There are no available time slots for <br><strong ng-bind="ctrl.selectedBranchObject.name"></strong> on <br><strong ng-bind="ctrl.appointmentDate|date:'fullDate'"></strong>.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5">Email Address</label>
                                        <div class="col-md-7">
                                            <input ng-model="ctrl.emailAddress"
                                                   ng-class="{'form-control-invalid': valuationAppointmentForm.$submitted && valuationAppointmentForm.emailAddress.$invalid }"
                                                   required name="emailAddress" type="email" class="form-control"
                                                   placeholder="Type your email address">
                                            <p class="text-error hidden"
                                               ng-class="{'hidden': !valuationAppointmentForm.$submitted || valuationAppointmentForm.emailAddress.$valid }">Type a valid Email Address</p>
                                        </div>
                                    </div>
                                </form>
                            </ng-cloak>
                        </div>
                    </div>
                </div>
                <div id="book-appointment-map" class="col-md-6" ng-style="{height: ctrl.mapHeight}">
                    <div map-lazy-load="https://maps.google.com/maps/api/js?key={{ google_maps_api_key }}"
                         map-lazy-load-params="">
                        <ng-map default-style="false" ng-style="{height: ctrl.mapHeight}"  id="map-lazy-load"></ng-map>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="book-appointment-button-container" class="col-md-4 col-md-offset-4">
                    <button ng-click="ctrl.triggerFormSubmit()" class="btn btn-lg btn-primary">Book an Appointment and Get Paid</button>
                </div>
            </div>
        </div>
    </section>

    {% include 'WbcStaticBundle:partials:section-text.html.twig' with {
    'title': 'Disclaimer',
    'content': '<p class="p-italic">We assume the below conditions while providing you with an
                                online valuation of your car:</p>
                            <ul>
                                <li class="p p-italic text-left">Your car has original paint, service records and no damage to the interior or mechanical parts.</li>
                                <li class="p p-italic text-left">Your car has never been used for private hire, or as a police vehicle, or for rental, or as a subject to insurance write off, or to learn driving.</li>
                                <li class="p p-italic text-left">Your car isn’t a non-runner.</li>
                                <li class="p p-italic text-left">In case the above assumptions do not apply during the time of inspection, the
                                    final offer may vary from the online valuation price.</li>
                            </ul>'} %}

{% endblock %}
