# Frequently Asked Questions

We have compiled a list of the most frequently asked questions to help you when selling your car. If your question isn’t covered, You can visit our location to meet our representative or you can call us on office landline number ({{ site_phone }}) or you can send us an email at
<a href="mailto: {{ site_email }}">{{ site_email }}</a>


## How does it work?

### Evaluation

It is very easy to get your online valuation report on {{ site_domain | capitalize }}, Just follow these steps:
<ol class="text-left">
    <li>Enter your car's make, model and year</li>
    <li>Provide us with some more basic information, such as mileage, color, condition</li>
</ol>

We will use this information to perform a car evaluation and to provide you with an initial market value of your car.

As you can imagine it is not possible to assess a car properly without having seen it. Therefore, we always perform an on-site inspection of a vehicle before we offer to buy it. This service is completely free for you and gives both of  us a proper understanding of your car's value. Special features, unusual customization, as well as damages are all important factors for the price of a car. We will make you a fair offer and guarantee to buy <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_model_car_brands">any car</a> we evaluate.


###  Appointment

If you think the online valuation is satisfactory you can easily book your individual appointment at any of our branch.

Make sure to bring all documents, keys and the service history book with you. We will then perform our inspection and make you an offer. If you like our price and decide to sell your car, we can arrange everything there and then. The entire process lasts no longer than 30 minutes.

## Why to choose {{ site_domain }}?

{{ site_domain | capitalize }} is clearly the quickest, easiest and best way to sell your used car. Save yourself plenty of time and effort and get a realistic offer for your vehicle based on the transparent assessment by our experts.

Your benefits for choosing {{ site_domain }} ;

<ul class="text-left">
    <li>No hassle to advertise your car online or find someone in your family and friends</li>
    <li>No time-consuming process of answering calls and making appointments with potentially not-seriously interested
        people</li>
    <li>No risk of devaluation while you try to sell your car</li>
    <li>Fair offer, easy process and quick payment</li>
</ul>


## What if, My car is not listed on {{ site_domain }}?

We hold information on almost all manufactured cars. If you are unable to find your car it may be because:

<ul class="text-left">
    <li>It's a van or commercial vehicle</li>
    <li>Your car was built before 1982</li>
    <li>Our database needs to be updated</li>
</ul>

<b>If you can't get an online valuation from our website; {{ site_domain }} , simply email us or call us with your car details (make, model, year, model type, mileage and color) and a contact number and one of our expert vehicle purchasers will get back to you with a valuation.</b>


## My car does not run anymore. Will you still buy it?

Yes of course! We also buy damaged and salvage cars and will make you a fair offer based on the residual value.

If you have problems with transporting your non-runner, just contact our service hotline and we will be happy to help you.

## What if I have an import car?

We buy import cars as well. We just have to check some additional points, like the suitability for hot temperatures and the compliance with GCC standards.

## Do you buy cars that are registered outside the United Arab Emirates?

Right now, we only buy cars registered in the United Arab Emirates, but more countries will be added soon.

## Can I sell a car on behalf of a family member or friend?

Yes. If you are selling on behalf of a relative or friend, we require a letter of authorization from the owner. The money will be transferred to the owner's bank account, matching the name on the registration card (Mulkiya). We also need a government-issued ID of the owner and the person selling the vehicle on his/her behalf.

## Can I sell the car of a deceased relative?

We understand that this is an incredibly emotional and stressful time and we want to help you to handle the situation.

We will require certain documents to meet legal concerns but our customer service will help you with everything you need - just contact our Service Hotline.

## Is it possible to sell a car on behalf of a company?

Yes. It is possible to sell a company car. Just bring along the following documents, and we will manage the process:

<ul class="text-left">
    <li>A government-issued ID for the assigned person</li>
    <li>An authorization letter signed and stamped by the company's authorized signatory on the corporate letterhead.
        <ul class="text-left">
            <li>Bank account details of your company</li>
            <li>Company trade license copy</li>
        </ul>
    </li>
    <li> All keys, service history book and registration card (Mulkiya)</li>
</ul>

<p class="inline-valuation-container">
    {% include 'WbcStaticBundle:partials:bare-inline-valuation-form.html.twig' with{'buttonText': 'FREE Valuation'} %}
</p>

## I have outstanding finance against my car. Can you buy it?

We can arrange settlement of any outstanding finance on your car. Please note that you will need to provide an in date letter detailing a current settlement figure from your finance company (e.g. bank). The settlement amount will be deducted from the amount paid to you, for your car. We will settle your outstanding amount.

## Do you buy vans?

We only buy passenger cars at the moment, but you can contact us for more details.

## Can the online valuation change?

The online valuation gives you an idea about your car's current market value. We always carry out an on-site inspection before offering a final price. There are numerous factors to consider when evaluating a car. Any aspect of a car's history as well as special features or customization have a significant influence on the value. As we cannot see these factors online, the price that we offer might differ from the online valuation. If your car is better than expected it can even be higher, damages on the other hand can reduce the final price. We guarantee to make you a fair offer and perform a transparent valuation.

## What does 'subject to inspection' mean?

Our online valuations are market value indications and should not be construed as a contract. Prior to any purchase an individual on-site assessment of your car by our skilled experts is necessary.

Any aspect of a car's history as well as special features have a significant influence on its price. As we cannot see certain features of a vehicle online, the value offered online might differ from the final price.

## My first online valuation is a few months old now. Is it still valid?

The car market is subject to daily changes. In order to get an up-to-date idea of what your car is worth, please enter your car details again. It only takes 15 seconds.

## How do you calculate the price for my car?

Our experience in car buying as well as our comprehensive market knowledge allow us to evaluate cars realistically and with concern to the current market situation.

The data you enter online as well as the on-site assessment by our skilled professionals allow us to give you a realistic and fair offer. We guarantee to buy <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_model_car_brands">any car</a> we evaluate, so in case you choose to accept our offer you can immediately sell your car and the entire process is managed by us - All this in just 30 minutes! No haggling. No hassle.

## How do I make an appointment?

Once you've received your valuation on our website, you will be led to an online form which allows you to book an appointment at a time and place that is convenient to you. We will then confirm your appointment via email or by phone call.

## If I don't have an online appointment, can I just turn up directly to one of your branches?

Appointments are not strictly necessary. So, if you haven't made an appointment online, you can still visit us at one of our many branches and we will be glad to evaluate and inspect your car for free. We do however advise that you check with the branch before you travel to ensure that they are open and you are not waiting around.

## Will you also collect/pick up my car from my place?

No, currently we do not collect/pick up cars.

## What documents are required?

It is important that you bring the following documents with you to the appointment:

<ul class="text-left">
    <li>Passport copy or any other government-issued ID</li>
    <li>Original registration card (Mulkiya)</li>
    <li>Both sets of car keys, if available</li>
    <li>Service history book</li>
    <li>Bank details for an account in the name of the registered owner</li>
    <li>If the vehicle has any finance outstanding, we will require a letter with the settlement figure from the finance
        company</li>
</ul>

Don't forget to take out all of your personal belongings, before you come to the appointment.

## What is the process of the appointment?

The whole appointment should not take longer than 30 minutes. One of our trained vehicle experts will conduct an inspection of your car, which includes a short test drive. The test drive allows us to determine the realistic value of your car.

After that, our vehicle purchaser will offer you a price for which we will offer to buy your car on the spot. If our offer appeals to you and you agree to sell to us, we will complete all the necessary paperwork for the sale and pay you.

We buy <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_model_car_brands">any car</a> we inspect. Guaranteed.

## Now I have an appointment; can I still change dates?

Yes, please click on the respective link in the email confirmation to edit your appointment details or contact our Service Hotline and we will be glad to assist.

## Which {{ site_domain|capitalize }} branch should I choose?

We recommend you choose the branch closest to you. All our inspection sites are at prime locations and have very good accessibility.

If you decide to leave your car with us, we will arrange a taxi pick-up for you.

## When are you open?

After you submit your car details and see your online valuation, you will be able to choose a branch and see opening hours and time slots available for your desired appointment.

## What if the car's registration card (Mulkiya) is not in my name?

The registration card holds the details of the registered owner of the vehicle. To prevent fraud, we will only purchase a vehicle from you if it is your name on the card. If you wish to sell your car and there is a legitimate reason why you are not the registered owner, please contact our Service Hotline and we will do our best to help.

## What happens after I agree to sell my car?

Once the car is sold, we will take care of all processes and you do not have to worry about anything further.

## If I agree to sell; do I leave my Car at the branch?

After we purchased your car, you can simply leave it with us. We are happy to arrange for a taxi to come and collect you, if desired.

## What to do when I arrive at the branch?

Once you are at our branch, you will be welcomed by one of our staff members on-site, who will take you through your appointment. Feel free to report to the reception desk.

## How can I be sure that I will receive payment?

At our branch, we will sign a legally binding purchase agreement, which will have the details of the transaction and clearly marked terms and conditions. Our service includes payment directly to your bank account.

As we are one of Middle East's leading online car buyer, {{ site_domain }} guarantees safe and reliable payment.

## What is your method of payment?

To ensure you get paid fast and safe, we use electronic bank transfer. We charge no fees for this service. Please make sure to bring your bank details to your appointment.

## When will you send the money?

Money transfer will be initiated after title transfer, whereby domestic transfers might take up to 48 hours.

## What if outstanding finance is higher than the car value?

If the outstanding finance makes up for more than what the car is still worth, we will still offer to buy your car. When we purchase it, you can pay the shortfall by cash.

## Will you pay money into my bank account, even though I am not the car's legal owner?

We can only transfer money to the legal owner of the vehicle. However, you may act as an agent on behalf of the legal owner, when selling the car, but we will still only transfer money to accounts of the legal owner.

## Why do you need my email address?

We need your email address so that we can send you the confirmation of your car valuation and appointment details. 

We fully respect your privacy and adhere to our stated <a href="{{ url('wbc_static_default_article', {'slug': 'privacy-policy'}) }}">Privacy Policy</a>.

## How do I unsubscribe from emails?

Please use the 'unsubscribe' link in any email.

## What if I'm not satisfied with {{ site_domain }}?

We at {{ site_domain }} value customer satisfaction as our highest priority. If, for any reason, you are not happy with our services, please feel free to contact our Service Hotline or email us and we will do our utmost best to make you happy again.

## Is {{ site_domain|capitalize }} secure website?

We use a technology called Secure Socket Layer (SSL) when transferring information between your computer and the {{ site_domain|capitalize }} website. This is the same technology that is used on banking websites and for processing credit card transactions over the Internet and ensures that data sent between the website and your computer cannot be read by others.

## I have not received my valuation email!

Valuation emails usually arrive within moments but can take up to 15 minutes in exceptional cases. If you have not received an email by this time, you may have entered your email address incorrectly on the website or it may have been intercepted by the spam or junk email filter on your computer. Spam filters are designed to stop junk email from arriving in your inbox, but may occasionally block legitimate emails in error.

Within your email software, you may have a folder called 'Junk Email', 'Spam' or something similar. If you do, check it. If it is, your software should allow you to mark {{ site_domain }} as a trusted sender for future messages. Just add us to your address book. Some spam filters may divert email to your 'Deleted Items' folder, which is also worth checking.

If you have still not received our email after checking the above, please contact our Service hotline or email us and we will be happy to assist.

## A friend or family member has passed away. What happens to their car?
Naturally, when somebody close to you has just passed away, the last thing you will feel like doing is selling his or her car.

Nevertheless, when the time is right, we hope that we can make things easier for you.

In order to administer any aspect of a recently deceased person's estate, it is necessary to first get Grant of Probate. This is usually a simple process when you have been named as an Executor in someone's will and are also able to provide a valid Death Certificate.

If you already have Comprehensive insurance cover on your own vehicle, you will generally be insured to drive vehicles that don't belong to you, but only on a Third Party basis.
Please check with your insurer, before driving the car.

As an Executor, you should have full access to find out if there is any outstanding finance on the vehicle. Usually, the registration card (Mulkiya) should mention, if the car is financed. If you do not have the registration card, please contact your local traffic department, e.g. RTA, to receive information about the vehicle.

What's the best way to sell the car? If the car hasn't been mentioned in the deceased person's will, it will fall to the Executor to arrange its sale. Of course, this can be an area of great sensitivity for relatives and friends. You might want to talk to them first, before selling the car. We at {{ site_domain }} are happy to guide you through the entire sales process and will do our best to make the process as smooth as possible.

<em>Please note that this information does not constitute legal advice. It should therefore be taken for guidance purposes only. {{ site_domain }} cannot be held responsible for any legal consequences, which might occur.</em>

## What happens to the car in the event of divorce?

Even when a divorce from your spouse or legal partner is desired, splitting can be an incredibly difficult and annoying time.

First, we recommend figuring out the actual value of the car in order to be able to strictly talk financial terms. You can get a free and instant online valuation here at {{ site_domain }}. This should put emotional topics aside.

Once you know how much your car is worth, you can agree to pay half the value to your spouse or get paid half. Of course, this depends on the agreement between you and your legal partner in terms of percentage split of your assets.

<em>Please note that this information does not constitute legal advice. It should therefore be taken for guidance purposes only. {{ site_domain }} cannot be held responsible for any legal consequences, which might occur.</em>

## What if I don't have the original registration card (Mulkiya)?

We are unable to purchase <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_model_car_brands">any car</a> without the original registration card present. If you do not have one, you can obtain a new document by applying at your respective traffic departments, e.g. RTA.

## I am moving abroad, what should I do with the car?

In the Middle East and especially in the GCC, we have high fluctuation rates. Moving abroad is a frequent topic. The last thing you want to do is to add complexity of selling your car, while you have to arrange moving companies, visa cancellation, packing, getting rid of furniture and much more. {{ site_domain }} takes away your headache of selling your car. We will offer you a fair price and guarantee to buy your car within 30 minutes. So feel free to keep your car until your last day in town and rest assured that you will sell your car on time with {{ site_domain|capitalize }}
